:root {
    /*variabel warna*/
    --primary-blue: #6d9bb8;
    --logo-grad-1: #C4494B;
    --logo-grad-2: #EF9B0F;
    --logo-grad-3: #FEDA49;
    --logo-grad-4:#69AFEA;


}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: bold;
    font-style: normal;
    background-color: #fff7f7 !important;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/* Container Utama (Mockup HP) */
.phone-canvas {
    width: 450px;
    height: 700px;
    background: white;
    border-radius: 50px;
    margin: 40px 0 40px 0;
    padding: 30px 15px 30px 15px;
    position: relative;
    box-shadow: 0 4px 12px rgba(70, 70, 70, 0.2);    
    text-align: center;
    overflow: hidden;
}

/* 1. Splash Screen (Halaman 1) */
#splash-screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 80px;
    z-index: 3;
    background: white;
    transition: opacity 0.8s ease;
}

/* 2. Welcome Screen (Halaman 2) */
#welcome-screen {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    z-index: 2;
    background: white;
    opacity: 0; /* Tersembunyi di awal */
    transition: opacity 0.8s ease;
}

/* Logo Moorasa Styling */
.logo-text {
    font-family: "Lexend" sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    letter-spacing: 2px;
    display: inline-block;
    background: linear-gradient(to right, var(--logo-grad-1), var(--logo-grad-2), var(--logo-grad-3), var(--logo-grad-4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.illustration {
    width: 380px;
    margin-bottom: 0px;
    display: flex;
    margin: 0;
}

/* Buttons */
.btn-card{
    display: inline-block;
    padding: 13px ;
    border-radius: 25px; /* Bentuk kapsul melengkung */
    font-size: 0.95rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-sizing: border-box;
}
.btn-custom {
    width: 100%;
    padding: 12px;
    display: inline-block;
    border-radius: 25px;
    font-weight: 600;
    margin-bottom: 12px;
    transition: 0.3s;
    color: white;
    text-decoration: none;
}

.btn-login {
    background-color: var(--primary-blue);
    color: white;
    border: none;
    text-decoration: none;
}

.btn-login a {
    color: #ffffff;
    text-decoration: none;
    font-weight:  bold;
}

.btn-login:hover{
    color: azure;
}

.btn-signup {
    background-color: transparent;
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
    text-decoration: none;
}
.btn-signup a {
    color:var(--primary-blue);
    text-decoration: none;
    font-weight:  bold;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-custom:hover { opacity: 0.8; }

/* Utilitas transisi */
.hidden { opacity: 0 !important; pointer-events: none; }
.visible { opacity: 1 !important; } 
